@import "../../styles/contants.scss";

.wrapper {
  @media (min-width: $xl) {
    padding: 10rem 3rem;
  }
  @media (max-width: $lg) {
    padding: 2rem;
  }
  @media (max-width: $md) {
    padding: 1rem 1rem;
  }
  @media (max-width: $sm) {
    background-position: center;
    padding: 1rem;
  }
  @media (max-width: $xs) {
    padding: 6rem 1rem 0rem 1rem;
    font-size: 1.55rem;
    height: 15vh;
    text-align: center;
  }

  height: fit-content;
  padding: 1.5rem;
  background-image: url("UFMBCpic3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 2px 2px black;
  font-size: 3rem;
  font-family: "Hepta Slab", serif;
  font-weight: 700;

  .container {
    @media (max-width: $xl) {
      font-size: 4rem;
      padding: 4.5rem 1rem;
    }
    @media (max-width: $lg) {
      padding: 0;
      text-align: center;
      padding-top: 13rem;
      font-size: 3rem;
    }
    @media (max-width: $md) {
      font-size: 3rem;
      padding: 0;
      padding-top: 10rem;
      font-size: 2.25rem;
      text-align: center;
      padding-bottom: 1rem;
    }

    @media (max-width: $sm) {
      padding: 0;
      padding-top: 10rem;
      font-size: 1.7rem;
      text-align: center;
      padding-bottom: 1rem;
    }
    @media (max-width: $xs) {
      font-size: 1.55rem;
      padding: 0;
    }
    @media (max-width: $xxs) {
      font-size: 1.25rem;
      padding: 0;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 5rem;

    .homeText2 {
      text-transform: uppercase;
    }
  }
}
