@import "../../styles/contants.scss";

.wrapper {
  // @media (min-width: $sm) {
  //   padding: 4rem;
  // }

  // @media (min-width: $xl), (min-width: $md) {
  //   padding-top: 2rem;
  //   padding-bottom: 2rem;
  // }

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: white;

  .container {
    // @media (min-width: $sm) {
    //   padding-top: 4rem;
    //   padding-bottom: 4rem;
    // }

    // @media (min-width: $xl) {
    //   padding-top: 2rem;
    //   padding-bottom: 2rem;
    // }
    // @media (min-width: $xxl) {
    //   max-width: 1280px;
    //   margin: auto;
    // }
    // @media (max-width: $sm) {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    // }
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;

    .about {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 0 3rem;
    }

    .service {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem -2rem;
      padding: 2.5rem;

      .serviceImg {
        width: 48%;
        padding: 2rem;
        height: 15rem;
        background-image: url("serviceImg.jpg");
        opacity: 0.5;
        box-shadow: inset 0 0 0 1000px #78153973;
        background-size: cover;
      }

      .serviceInfo {
        background-color: #78153984;
        width: 37%;
        padding: 2rem;
        color: white;

        .serviceTitle {
          font-weight: 800;
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        .serviceTimes {
          font-size: 1.5rem;
          font-weight: 575;
          line-height: 2.25rem;
        }
      }
    }
    .churchStatements {
      width: 100%;
      gap: 7rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .purpose {
        width: 30%;
        text-align: center;
        background-color: #f7f7f7;
        border-radius: 25px;
        padding: 2rem;

        .purposeTitle {
          font-size: 2rem;
          font-weight: 800;
          margin-bottom: 1.5rem;
          color: #781539;
        }

        .purposeInfo {
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.5;
          color: #727577;
        }
      }
      .mission {
        width: 30%;
        gap: 1rem;
        text-align: center;
        background-color: #f7f7f7;
        border-radius: 25px;
        padding: 2rem;

        .missionTitle {
          font-size: 2rem;
          font-weight: 800;
          margin-bottom: 1.5rem;
          color: #781539;
        }

        .missionInfo {
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.5;
          color: #727577;
        }
      }
    }
    .resources {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem;
      color: white;
      gap: 1rem;
      font-size: 4.5rem;
      font-weight: 800;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.086);
      padding: 2.5rem;
      background: linear-gradient(13deg, #510e27, #781539, #78153988);
      border: 1px solid #510e27;

      button {
        color: white;
        font-size: 1.5rem;
        font-weight: 800;
        background-color: #9e752f;
        padding: 15px 32px;
        line-height: 1.5;
        cursor: pointer;
        border: none;
        margin-top: 1rem;
      }
    }
  }
}
