@import "../../styles/contants.scss";

.wrapper {
  padding: 0rem 1.5rem;

  .contactTitle {
    margin-bottom: 2rem;
    font-size: 3rem;
    letter-spacing: 1.5px;
    color: #781539;
    text-align: center;
    font-weight: 800;
  }

  .container {
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: left;
    gap: 8rem;
    margin-bottom: 5rem;

    .contact {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 45%;

      .form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .topLine {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .name {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            input {
              width: 100%;
              background-color: #f7f7f7;
              font-size: 1rem;
              font-weight: 500;
              color: #727577;
              border: none;
              padding: 1rem;
            }
          }
          .phone {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            input {
              width: 100%;
              background-color: #f7f7f7;
              font-size: 1rem;
              font-weight: 500;
              color: #727577;
              border: none;
              padding: 1rem;
            }
          }
        }
        .email {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          input {
            width: 100%;
            background-color: #f7f7f7;
            font-size: 1rem;
            font-weight: 500;
            color: #727577;
            border: none;
            padding: 1rem;
          }
        }
        .subject {
          width: 104%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          select {
            width: 100%;
            background-color: #f7f7f7;
            font-size: 1rem;
            color: #727577;
            border: none;
            padding: 1rem;
          }
        }
        .mess {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          input {
            width: 100%;
            background-color: #f7f7f7;
            font-size: 1rem;
            color: yellow;
            font-weight: 500;
            color: #727577;
            border: none;
            padding: 1rem;
            height: 5rem;
            text-decoration: none;
          }
        }
        input {
          width: 104%;
          font-size: 1rem;
          border: none;
          padding: 1rem;
          color: white;
          font-weight: 600;
          background: #781539;
        }
      }
    }
  }
}
