@import "../../styles/contants.scss";

.wrapper {
  @media (max-width: $lg) {
    margin: 0rem 1rem;
  }
  margin: 0rem 3rem;
  color: #781539;
  background: white;

  .container {
    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding-top: 0;
    }
    @media (max-width: $md) {
      padding-top: 0;
    }

    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;

    .logo {
      @media (max-width: $md) {
        width: 50%;
      }
      width: 20%;
      img {
        width: 100%;
      }
    }
    .newsletter {
      @media (max-width: $xl) {
        width: 50%;
      }
      @media (max-width: $lg) {
        width: 50%;
      }
      @media (max-width: $md) {
        width: 80%;
      }

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;

      width: 35%;
      gap: 1rem;

      .newsletterTitle {
        @media (max-width: $md) {
          text-align: center;
          font-size: 2rem;
        }
        @media (max-width: $lg) {
          text-align: center;
        }
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 0.5px;
      }

      .newsletterDesc {
        @media (max-width: $md) {
          font-size: 1.25rem;
        }

        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
      }
      form {
        width: 100%;

        .email {
          @media (max-width: $lg) {
            width: 57%;
          }
          width: 60%;
          background-color: #f7f7f7;
          font-size: 1rem;
          color: #727577;
          border: none;
          padding: 1rem;
        }
        .subsc {
          width: 33%;
          font-size: 1rem;
          border: none;
          padding: 1rem;
          color: white;
          font-weight: 600;
          background: #781539;
        }
      }
      .invalidEmail {
        font-weight: 600;
      }
    }

    .contact {
      @media (max-width: $xl) {
        width: 21%;
      }
      @media (max-width: $lg) {
        width: 35%;
      }
      @media (max-width: $md) {
        width: 80%;
      }

      width: 20%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      gap: 1rem;

      .contactTitle {
        @media (max-width: $md) {
          font-size: 2rem;
          text-align: center;
        }
        @media (max-width: $lg) {
          text-align: center;
        }
        font-size: 1rem;
        letter-spacing: 0.5px;
        font-weight: 800;
      }
      .addrAndPhone {
        @media (max-width: $xl) {
          display: flex;
          gap: 0.5rem;
          flex-direction: column;
        }
        @media (max-width: $md) {
          font-size: 2rem;
          display: flex;
          flex-direction: row;
          gap: 2rem;
          width: 100%;
          justify-content: space-evenly;
        }

        .address {
          @media (max-width: $md) {
            font-size: 1.25rem;
          }
          font-size: 1rem;
          font-weight: 300;
          letter-spacing: 1px;
        }
        .phone {
          @media (max-width: $md) {
            font-size: 1.25rem;
          }
          font-size: 1rem;
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
      .fax {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
      }

      .icons {
        @media (max-width: $md) {
          text-align: center;
          margin-top: 2rem;
        }
        @media (max-width: $lg) {
          display: flex;
          justify-content: center;
        }
        span {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
