@import "../../styles/contants.scss";

.wrapper {
  // @media (min-width: $sm) {
  //   padding: 4rem;
  // }

  // @media (min-width: $xl), (min-width: $md) {
  //   padding-top: 2rem;
  //   padding-bottom: 2rem;
  // }

  margin: 0rem 3rem;
  color: #781539;
  background: white;

  .container {
    // @media (min-width: $sm) {
    //   padding-top: 4rem;
    //   padding-bottom: 4rem;
    // }

    // @media (min-width: $xl) {
    //   padding-top: 2rem;
    //   padding-bottom: 2rem;
    // }

    // @media (min-width: $xxl) {
    //   max-width: 1280px;
    //   margin: auto;
    // }
    // @media (max-width: $sm) {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    // }

    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;

    // > div {
    //   flex: 1;
    // }

    .logo {
      width: 20%;
      img {
        width: 100%;
      }
    }
    .newsletter {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;

      width: 35%;
      gap: 1rem;

      .newsletterTitle {
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 0.5px;
      }

      .newsletterDesc {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
      }
      form {
        width: 100%;

        .email {
          width: 60%;
          background-color: #f7f7f7;
          font-size: 1rem;
          color: #727577;
          border: none;
          padding: 1rem;
        }
        .subsc {
          width: 33%;
          font-size: 1rem;
          border: none;
          padding: 1rem;
          color: white;
          font-weight: 600;
          background: #781539;
        }
      }
      .invalidEmail {
        font-weight: 600;
      }
    }

    .contact {
      width: 20%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      gap: 1rem;

      .contactTitle {
        font-size: 1rem;
        letter-spacing: 0.5px;
        font-weight: 800;
      }
      .address {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
      }
      .phone {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
      }
      .fax {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
      }

      .icons {
        span {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
