.tag {
  font-size: 1rem;
  border: none;
  padding: 1rem 1.75rem;
  margin: 0 1rem;
  border-radius: 999;
  color: white;
  font-weight: 600;
  background: #781539;
  cursor: pointer;
  border-radius: 999px;

  &:focus {
    background: #7815394c;
  }
}

.wrapper {
  margin: 1.5rem;

  .container {
    margin: 0rem 2rem;

    .galleryTitle {
      margin: 2rem -4rem;
      font-size: 3rem;

      color: #781539;
      text-align: center;
      font-weight: 800;
      letter-spacing: 1.5px;
    }

    .tags {
      text-align: center;
      padding: 20px 0;
      margin: 2rem auto;
    }
    .imagesGrid {
      --column-gutter: 24px;
      --columns: 3;
      grid-column-gap: var(--column-gutter);
      align-items: start;
      display: grid;
      grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
      row-gap: var(--row-gutter);
      --row-gutter: 24px;

      .imageCard {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
